.chakra-select {
    @apply !bg-white;
}

.chakra-select__icon-wrapper {
    @apply !text-turquoise;
}

.vs-container {
    @apply absolute rounded-full bg-blue-500 p-2 h-[45px] w-[45px] text-center text-white text-xl font-bold;
    top: calc(-45px / 2);
    left: calc(50% - 45px / 2);
}

@media (min-width: 1024px) {
    .vs-container {
        top: calc(50% - 45px / 2);
        left: calc(-45px / 2);
    }
}

.filter-button {
    @apply text-turquoise px-2 py-1 rounded;
}

.filter-button.selected {
    @apply bg-turquoise text-white;
}
