@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Mulish', sans serif !important;
  @apply flex flex-col overflow-x-hidden;
}

#root {
  @apply flex flex-col overflow-x-hidden;
}

@font-face {
  font-family: 'Mulish';
  src: local('Mulish'), url(./assets/fonts/Mulish/Mulish-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Mulish';
  font-weight: 700;
  src: local('Mulish'), url(./assets/fonts/Mulish/Mulish-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Mulish';
  font-weight: 900;
  src: local('Mulish'), url(./assets/fonts/Mulish/Mulish-Black.ttf) format('truetype');
}
